terratowns_schema = {
  //access_token     = var.access_token
  endpoint         = "https://terratowns.cloud/api"
  town             = "missingo"
  //user_uuid        = var.user_uuid
}
s3_bucket_name = {
  pac-man           = "samba07-tf-07oct2023-pacman"
  crepe             = "samba07-tf-07oct2023-crepe"
}
pac-man = {
  public_path       = "/workspace/terraform-beginner-bootcamp-2023/public/pac-man"
  content_version   = 1
}
crepe = {
  public_path       = "/workspace/terraform-beginner-bootcamp-2023/public/chocolate-crepe"
  content_version   = 1
}